<div class="main-container-mother">
  <div class="card">
    <div class="header-banner">
        <h3 style="margin: 0;">REGISTRO EXITOSO</h3>
    </div>
    <div class="success-icon">✔️</div>
    <h2>¡Gracias por participar!</h2>
    <p>Hemos recibido tus datos correctamente para el <strong>Gran Sorteo del Día de la Madre</strong>.</p>

    <div class="info-box-light">
      <p>El sorteo se realizará de forma electrónica el día <strong>Viernes 08 de Mayo</strong>. Los resultados y el acta de ganadores serán enviados directamente a tu correo institucional.</p>
    </div>

    <p style="color: #880e4f; font-weight: bold;">¡Mucha suerte!</p>

    <button class="btn-mother" (click)="volver()">FINALIZAR</button>
  </div>
</div>
